<section id="task-card">
  <div class="task-card-container">
    <div class="container mx-auto px-4">
      <div class="tab-header">
        <!-- <div id="tasks-tab" class="active" (click)="showTab('tasks')">Tasks</div> -->
        <!-- <div id="challenges-tab" (click)="showTab('challenges')">Challenges</div> -->
      </div>
      <div id="tasks-content" class="tab-content active">
        <div class="text-center">
          <h2 class="text-xl font-bold">Earn more Credits</h2>
          <p class="text-gray-400">Perform tasks to earn more Media Credits and level up real quick!</p>
        </div>
        <div class="mt-4">
          <div class="task-card bg-gray-800 rounded-lg shadow p-4 mb-4">
            <div class="flex items-center justify-start w-full">
              <img src="/image/telegram.png" alt="Telegram Icon" class="icon">
              <div class="task-info mx-2 text-center flex-shrink-0">
                <div class="font-bold">Join my Wave+</div>
              </div>
              <div class="task-buttons flex">
                <button class="btn bg-gray-700 text-white ml-2">Perform</button>
                <button class="btn bg-gray-700 text-white ml-2">Verify</button>
              </div>
            </div>
          </div>
          <div class="task-card bg-gray-800 rounded-lg shadow p-4 mb-4 youtube-outline">
            <div class="flex items-center justify-start w-full">
              <img src="/image/youtube.png" alt="YouTube Icon" class="icon">
              <div class="task-info mx-2 text-center flex-shrink-0">
                <div class="font-bold">Subscribe Wave Plus Global</div>
              </div>
              <div class="task-buttons flex">
                <button class="btn bg-gray-700 text-white ml-2">Perform</button>
                <button class="btn bg-gray-700 text-white ml-2">Verify</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="challenges-content" class="tab-content">
        <div class="text-center">
          <h2 class="text-xl font-bold">Milestone rewards</h2>
          <p class="text-gray-400">Complete specific milestones to unlock huge rewards and bonuses!</p>
        </div>
        <div class="mt-4">
          <div class="bg-gray-800 rounded-lg shadow p-4 mb-4">
            <div class="flex items-center justify-between">
              <div>
                <div class="font-bold">Bronze</div>
                <div class="text-gray-400">50 000</div>
              </div>
              <button class="bg-gray-700 text-white py-2 px-4 rounded">Claim</button>
            </div>
          </div>
          <div class="bg-gray-800 rounded-lg shadow p-4 mb-4">
            <div class="flex items-center justify-between">
              <div>
                <div class="font-bold">Silver</div>
                <div class="text-gray-400">100 000</div>
              </div>
              <button class="bg-gray-700 text-white py-2 px-4 rounded">Claim</button>
            </div>
          </div>
          <div class="bg-gray-800 rounded-lg shadow p-4 mb-4">
            <div class="flex items-center justify-between">
              <div>
                <div class="font-bold">Gold</div>
                <div class="text-gray-400">250 000</div>
              </div>
              <button class="bg-gray-700 text-white py-2 px-4 rounded">Claim</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
