<section id="task-card">
  <div class="min-h-screen bg-black text-white p-4">


    <!-- Earn more points -->
    <div class="text-center mt-24 mb-10">
      <h2 class="text-xl font-bold">Earn more Credits</h2>
      <p class="text-gray-400">Perform tasks to earn more Media Credits and level up real quick!</p>
    </div>

    <!-- Task List -->
    <div class="space-y-4" [@cardAnimation]="'enter'" (@cardAnimation.done)="onCardAnimationDone()">
      <!-- Task Item -->

      <div
        class="relative p-0.5 rounded-lg bg-gradient-to-r from-sky-500 via-red-500 to-blue-500 shadow-[0_0_20px_5px_rgba(179,86,214,0.6)]">
        <div class="bg-black rounded-lg p-4 flex items-center justify-between">
          <div class="flex items-center space-x-4">
            <!-- Icon or Avatar -->
            <div class="bg-sky-500 w-12 h-12 rounded-full  sshadow-[0_0_15px_3px_rgba(255,0,0,0.8)]">
              <img src="/image/telegram.png" alt="YouTube Icon" class="icon" *ngIf="isCardAnimationDone"
                [@imageRotate]="'enter'">
            </div>
            <div>
              <!-- Task Title -->
              <h3 class="text-lg text-white">Join TG Channel </h3>
              <!-- Points Info -->
              <p class="text-sm text-gray-400">+250</p>
            </div>
          </div>
          <!-- Ghost Button -->
          <button (click)="shareOnTelegram()"
            class="border border-blue-500  px-4 py-2 rounded-lg hover:bg-blue-500 hover:text-white transition duration-300 text-white shadow-[0_0_10px_2px_rgba(255,255,255,0.8)]">
            Join
          </button>
        </div>
      </div>

      <div
        class="relative p-0.5 rounded-lg bg-gradient-to-r from-red-500 via-blue-500 to-red-500 shadow-[0_0_20px_5px_rgba(179,86,214,0.6)]">
        <div class="bg-black rounded-lg p-4 flex items-center justify-between">
          <div class="flex items-center space-x-4">
            <!-- Icon or Avatar -->
            <div class="bg-red-500 w-12 h-12 rounded-full  shadow-[0_0_15px_3px_rgba(255,0,0,0.8)]">
              <img src="/image/youtube.png" alt="YouTube Icon" class="icon" *ngIf="isCardAnimationDone"
                [@imageRotate]="'enter'">
            </div>
            <div>
              <!-- Task Title -->
              <h3 class="text-lg text-white">Subscribe </h3>
              <!-- Points Info -->
              <p class="text-sm text-gray-400">+250</p>
            </div>
          </div>
          <!-- Ghost Button -->
          <button (click)="shareOnTelegram()"
            class="border border-blue-500  px-4 py-2 rounded-lg hover:bg-blue-500 hover:text-white transition duration-300 text-white shadow-[0_0_10px_2px_rgba(255,255,255,0.8)]">
            Subscribe
          </button>
        </div>
      </div>








      <!-- Add more task items similarly -->
    </div>

  </div>



</section>