<!-- <section id="frens">
  <div class="task-card-container">
    <h2 class="text-2xl font-bold mb-4">Invite Friends</h2>
    <div class="claim-section">
      <div class="text-xl">Next claim in 2 hours and 28 minutes</div>
      <div class="text-4xl font-bold">0</div>
      <div class="claim-btn">Claim</div>
    </div>
    <div class="text-center mb-4">
      <div class="text-lg">Earn <span class="font-bold">10%</span> from direct referrals and <span class="font-bold">5%</span> from secondary referrals.</div>
  
    </div>
    <div class="friends-section">
      <div class="text-xl mb-4">Your friends: 0</div>
      <div class="card">
        <div class="profile">
          <img src="/image/alien.jpeg" alt="User avatar">
          <div class="details">
            <div class="name">Invite your first friend</div>
            <div class="points">0 NILA</div>
          </div>
        </div>
        <div class="invite-btn" (click)="shareOnTelegram()">
          <img src="/image/telegram.png" alt="Telegram Icon">
          Invite a friend
        </div>
      </div>
     
    </div>
  </div>
  </section>
   -->
<section id="frens">
  <div class="task-card-container">
    <div class="container mx-auto px-4">
      <div class="tab-header" [@tabHeaderAnimation]>
        <div id="tasks-tab" class="active" (click)="showTab('tasks')">Invite</div>
        <div id="challenges-tab" (click)="showTab('challenges')">Friends</div>
      </div>
      <div id="tasks-content" class="tab-content active">
        <div class="text-center">
          <h2 class="text-xl font-bold">Earn more Credits</h2>
          <p class="text-gray-400">Invite your friends and claim {{getReferalPoints()}} Media Credits</p>
        </div>
        <div class="mt-4" [@cardAnimation]="'enter'"  (@cardAnimation.done)="onCardAnimationDone()">
          <div class="bg-gray-800 rounded-lg shadow p-4 mb-4">
            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <img src="/image/telegram.png" alt="Telegram Icon" class="icon" *ngIf="isCardAnimationDone" [@imageRotate]="'enter'">
                <div class="task-info">
                  <div class="font-bold">Join my Telegram Bot</div>
                </div>
              </div>
              <div class="task-buttons">
                <button class="btn bg-gray-700 text-white" (click)="shareOnTelegram()"*ngIf="isCardAnimationDone"[@buttonAnimation]="'enter'">Invite</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="challenges-content" class="tab-content">

        <div class="total-coins-earned">
          <h3 class="text-lg font-bold">Total Credits Earned:</h3>
          <p class="text-2xl text-yellow-500 font-bold">{{totalRewards}} Media Credits</p>
        </div>
        <div class="text-center">
          <p class="text-gray-400">Earn rewards of {{getReferalPoints()}} Media Credits for every direct referrals</p>
        </div>
        <div class="mt-4">
          <div class="friends-card-container"  *ngIf="isChallengesTabActive"[@listAnimation]>
            <div *ngFor="let friend of friendsList" class="friend-card">
              <div class="friend-content">
                <img [src]="getAvatarUrl(friend.name)" alt="{{ friend.name }}'s avatar" class="avatar">
                <div class="friend-info-container">
                  <div class="friend-name">{{ friend.name }}</div>
                </div>

                <!-- Claim button on the right (even if button is hidden, container is kept) -->
                <div class="claim-btn-container">
                  {{friend.claimed ? friend.claimed : 0}} Credits
                </div>
                
                
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</section>