<div class="sm:max-w-sm flex-col items-center mx-auto mt-14 mb-24">
    <h1 class="  mx-3 text-center pt-10 text-4xl font-bold tracking-tight text-white  ">
        <span class="">
            Learn about the <br>
            <span class="text-transparent bg-clip-text bg-gradient-to-tr to-cyan-500 from-blue-600">
                Global Goals
            </span>
            <p class="font-normal text-base tracking-normal  text-justify mx-3 my-5  ">
                World leaders agreed to 17 goals for a better world by 2030. These goals have the power to end poverty,
                fight inequality, and stop climate change.
            </p>
        </span>
    </h1>

    <div class="flex flex-wrap justify-center sm:max-w-lg mx-auto overflow-visible">
        <div *ngFor="let goal of goalsData" class="m-3" (click)="routeToGoal(goal.goalno)" [ngClass]="{ 'opacity-20 pointer-events-none cursor-not-allowed': goal.isdisabled }">
          <img
            [src]="goal.imagepath"
            [alt]="'Goal ' + goal.goalno"
            class="w-40 h-40 object-cover rounded-xl"
          />
        </div>
      </div>
</div>
