<h1 class="mt-14 mx-3 text-center pt-10 text-4xl font-bold tracking-tight text-white sm:text-5xl md:text-6xl ">
    <span class="">
        Learn about the <br>
        <span class="text-transparent bg-clip-text bg-gradient-to-tr to-cyan-500 from-blue-600">
            Global Goals
        </span>

        <p class="text-sm text-justify mx-3 my-5">
            World leaders agreed to 17 goals for a better world by 2030. These goals have the power to end poverty,
            fight inequality, and stop climate change.
        </p>

    </span>
</h1>
<div class="flex flex-wrap justify-center  mb-20 sm:max-w-lg mx-auto overflow-visible">

    <div class="m-3 ">
        <img src="image/sdg-icons/E-WEB-Goal-01.png" alt="Goal 1" class="w-40 h-40 object-cover rounded-xl">
    </div>
    <div class="m-3">
        <img src="image/sdg-icons/E-WEB-Goal-02.png" alt="Goal 2" class="w-40 h-40 object-cover rounded-xl">
    </div>
    <div class="m-3">
        <img src="image/sdg-icons/E-WEB-Goal-03.png" alt="Goal 3" class="w-40 h-40 object-cover rounded-xl">
    </div>
    <div class="m-3">
        <img src="image/sdg-icons/E-WEB-Goal-04.png" alt="Goal 4" class="w-40 h-40 object-cover rounded-xl">
    </div>
    <div class="m-3">
        <img src="image/sdg-icons/E-WEB-Goal-05.png" alt="Goal 5" class="w-40 h-40 object-cover rounded-xl">
    </div>
    <div class="m-3">
        <img src="image/sdg-icons/E-WEB-Goal-06.png" alt="Goal 6" class="w-40 h-40 object-cover rounded-xl">
    </div>
    <div class="m-3">
        <img src="image/sdg-icons/E-WEB-Goal-07.png" alt="Goal 7" class="w-40 h-40 object-cover rounded-xl">
    </div>
    <div class="m-3">
        <img src="image/sdg-icons/E-WEB-Goal-08.png" alt="Goal 8" class="w-40 h-40 object-cover rounded-xl">
    </div>
    <div class="m-3">
        <img src="image/sdg-icons/E-WEB-Goal-09.png" alt="Goal 9" class="w-40 h-40 object-cover rounded-xl">
    </div>
    <div class="m-3">
        <img src="image/sdg-icons/E-WEB-Goal-10.png" alt="Goal 10" class="w-40 h-40 object-cover rounded-xl">
    </div>
    <div class="m-3">
        <img src="image/sdg-icons/E-WEB-Goal-11.png" alt="Goal 11" class="w-40 h-40 object-cover rounded-xl">
    </div>
    <div class="m-3">
        <img src="image/sdg-icons/E-WEB-Goal-12.png" alt="Goal 12" class="w-40 h-40 object-cover rounded-xl">
    </div>
    <div class="m-3">
        <img src="image/sdg-icons/E-WEB-Goal-13.png" alt="Goal 13" class="w-40 h-40 object-cover rounded-xl">
    </div>
    <div class="m-3">
        <img src="image/sdg-icons/E-WEB-Goal-14.png" alt="Goal 14" class="w-40 h-40 object-cover rounded-xl">
    </div>
    <div class="m-3">
        <img src="image/sdg-icons/E-WEB-Goal-15.png" alt="Goal 15" class="w-40 h-40 object-cover rounded-xl">
    </div>
    <div class="m-3">
        <img src="image/sdg-icons/E-WEB-Goal-16.png" alt="Goal 16" class="w-40 h-40 object-cover rounded-xl">
    </div>
</div>