#log-table {
    width: 100%;
    border-collapse: collapse;
    color: #fff;
    font-family: Arial, sans-serif;
    table-layout: fixed;
}
.positive-cost {
    color: green;
}

.negative-cost {
    color: red;
}

#log-table th, #log-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #333;
}

#log-table th {
    background-color: #333;
    color: #f5aa01;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Add a subtle shadow for better separation */
}

#log-table tbody tr:nth-child(even) {
    background-color: #2c2c2c;
}

#log-table tbody tr:nth-child(odd) {
    background-color: #1a1a1a;
}

section#logs {
    max-height: calc(100vh - 80px);
    overflow-y: auto;
    padding-top: 110px;
    padding-bottom: 20px;
}

.log-card-container {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    display: block;
    background-color: #1a1a1a;
    border-radius: 40px 40px 0 0;
    box-shadow: 0 -6px 15px rgb(245 170 1 / 80%);
    padding: 20px;
    max-height: calc(100vh - 143px);
    bottom: 0;
    overflow: hidden;
}

.log-card-container table {
    display: block;
    overflow-y: auto;
    max-height: calc(100vh - 200px); /* Adjust height to ensure enough space for the table */
}

.log-card-container::-webkit-scrollbar {
    width: 8px;
}

.log-card-container::-webkit-scrollbar-thumb {
    background: rgba(255, 170, 1, 0.8);
    border-radius: 8px;
}
