<div class="max-w-sm flex-col items-center mt-16 mb-24 mx-auto">
    <!-- Tabs section -->
    <section class="flex flex-row flex-wrap my-8 sm:mx-auto">
        <!-- Tab labels -->
        <label (click)="selectTab('overview')" [ngClass]="{'bg-slate-400': isOverviewSelected}"
            class="border-1 border-sky-100 hover:bg-slate-500 cursor-default text-center p-4 rounded-tl-lg block w-1/2 ">
            Overview
        </label>

        <label (click)="selectTab('challenges')" [ngClass]="{'bg-slate-400': !isOverviewSelected}"
            class="bg-slate-900  border-sky-100 border text-center cursor-default p-4 rounded-tr-lg block w-1/2 hover:bg-slate-400 ">
            Challenges
        </label>

        <!-- Tab content for Overview -->
        <div *ngIf="isOverviewSelected" class="py-4 w-full">
            <div class="flex bg-gray-800 w-full flex-wrap justify-center rounded-xl">
                <div class="bg-white rounded-lg shadow-lg overflow-hidden">
                    <img [src]="goalData.imagePath" alt="Goal Image" class="w-full object-cover" />
                </div>
                <div class="p-4">
                    <h3 class="font-bold text-lg">{{ goalData.title }}</h3>
                    <p class="text-sm text-white mt-2">{{ goalData.description }}</p>
                    <span class="text-blue-500 hover:underline mt-4 inline-block" (click)="showMoreInfo(goalData)">
                        More
                    </span>
                </div>
            </div>
        </div>

        <!-- Tab content for Challenges -->
        <div *ngIf="!isOverviewSelected" class="py-4 w-full">
            <p
                class="text-transparent text-center text-4xl font-bold bg-clip-text bg-gradient-to-tr to-cyan-500 from-blue-600 mx-auto">
                Challenges
            </p>
            <p class="my-3 mx-auto text-base font-medium">
                No challenges available now
            </p>
        </div>
    </section>
</div>