<section id="pump">
  <div class="task-card-container">

    <div class="text-xl font-bold mt-2">Free Daily Boost</div>
    <div class="container mx-auto px-4">
      
      <div class="text-center">
        <div class="flex  justify-center mb-4"> <!-- Flex container for row layout -->

          <div (click)="claimBoost('dailyBoost')" [class.disabled]="progress < 2" [style.pointer-events]="progress < 2 ? 'none' : 'auto'" class="boost-card bg-gray-800 rounded-lg shadow p-4 flex items-center w-full max-w-md">
            
            <div class="icon-container  mr-4" >
              <img src="/image/daily-boost.png" alt="Boost Icon" class="h-20 w-20 mr-4" />
            </div>
            
            <div class="text-center flex-grow">
              <div class="text-lg font-bold">Energy Fill</div>
              
             <!-- Progress Bar Section -->

          <div class="progress-container  mt-2">
            <div class="progress-bar bg-blue-500 h-2" [style.width.%]="progress"></div>
          </div>
          <div class="text-xl font-bold mt-2">{{pendingCount}} Out of {{limit}} Left</div>

          <!-- Single button to update progress -->
         
            </div>
          </div>



        </div>
      </div>
        <div class="text-xl font-bold mt-2">Boosters</div>
        
      <div class="text-center">
        <div class="flex  justify-center mb-4"> <!-- Flex container for row layout -->

          <div (click)="claimBoost('coinMutipler')" [class.disabled]="tapBooster.balance < tapBooster.boostCost" class="boost-card bg-gray-800 rounded-lg shadow p-4 flex items-center w-full max-w-md">
            
            <div class="icon-container  mr-4" >
              <img src="/image/tap.png" alt="Boost Icon" class="h-20 w-20 mr-4" />
            </div>
            
            <div class="text-center flex-grow">
              <div class="text-lg font-bold">Muti Tap</div> 
              
             <!-- Progress Bar Section -->
             <div class="text-xl font-bold mt-2"> x{{tapBooster.boostEffect}} </div>
             <div class="text-xl font-bold mt-2" style="display: inline-block;" >
               <span class="font-bold mt-2" style="float:center;">{{tapBooster.boostCost}}</span>
             <img src="/image/Nila.png" alt="Coin Icon" class="coin-icon"  style="float:Left;"/>
            
          </div>
       
          <!-- Single button to update progress -->
         
            </div>
          </div>

          



        </div>

        </div>

        <div class="text-center">
          <div class="flex  justify-center mb-4"> <!-- Flex container for row layout -->
  
            <div (click)="claimBoost('energyMutiplier')" [class.disabled]="energyBooster.balance < energyBooster.boostCost" class="boost-card bg-gray-800 rounded-lg shadow p-4 flex items-center w-full max-w-md">
              
              <div class="icon-container  mr-4" >
                <img src="/image/enegry.png" alt="Boost Icon" class="h-20 w-20 mr-4" />
              </div>
              
              <div class="text-center flex-grow">
                <div class="text-lg font-bold">Energy Boost</div>
                
               <!-- Progress Bar Section  boostCost:number;
  boostEnd: number;
  totalUsed: number;
  boostEffect:number;
  boostType: string;
  active: number;-->
            <div class="text-xl font-bold mt-2"> x{{energyBooster.boostEffect}} </div>
            <div class="text-xl font-bold mt-2" style="display: inline-block;" >
              <span class="font-bold mt-2" style="float:center;">{{energyBooster.boostCost}}</span>
            <img src="/image/Nila.png" alt="Coin Icon" class="coin-icon"  style="float:Left;"/>
              
            </div>
         
            <!-- Single button to update progress -->
           
              </div>
            </div>
  
            
  
  
  
          </div>
  
          </div>
        
     
    </div>
  </div>
</section>

