<section id="pump">
  <div class="task-card-container">
    <div class="container mx-auto px-4">
      <div class="text-center">
        <div class="flex justify-between mb-4"> <!-- Flex container for row layout -->

          <div class="bg-gray-800 rounded-lg shadow p-4 ml-2 flex-grow">
            <div class="text-center">
              <div class="text-lg font-bold">Boost Balance</div>
              
             <!-- Progress Bar Section -->

          <div class="progress-container">
            <div class="progress-bar" [style.width.%]="progress"></div>
          </div>
          <div class="text-4xl font-bold">{{pendingCount}} Out of {{limit}} Left</div>

          <!-- Single button to update progress -->
          <button (click)="claimBoost()"  [disabled]="progress < 2">Claim</button>

            </div>
          </div>
        </div>

        <div class="bg-gray-800 rounded-lg shadow p-4 ml-2 flex-grow">
          <div class="text-center">
            <div class="text-lg font-bold">Total Used</div>
            <div class="text-4xl font-bold">{{totalUsed}} Boost used in {{totalDay}} Days</div>
            
            <!-- Progress Bar Section -->

           <!-- Progress Bar Section -->

      
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>

