section#collect {
    position: relative;
    z-index: 2;
    overflow: hidden;
    height: calc(100vh - 77px);
    padding-top: 146px; /* Extra padding to ensure content isn't hidden */
    padding-bottom: 20px;
  }
  
  .coin {
    width: 35px;
    height: 35px;
    background-color: gold;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    color: white; /* Text color for profitPerTap */
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Make the text stand out */
    font-size: 1.6rem;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(255, 223, 0, 0.8);
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .fall {
    animation: fall 1s linear forwards;
  }
  
  @keyframes fall {
    0% {
      top: 330px;
      opacity: 1;
    }
    100% {
      top:calc(100vh - 77px);
      opacity: 0;
    }
  }
  
  .RadialProgress-container {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    justify-items: center;
    height: 100%;
    margin-top: 50px;
  }
  
  .RadialProgress {
    --hue: 220;
    --holesize: 65%;
    --track-bg: hsl(233 34% 92%);
    block-size: 50vmin;
    inline-size: 50vmin;
    min-inline-size: 100px;
    min-block-size: 100px;
    display: grid;
    place-items: center;
    position: relative;
    font-weight: 700;
    font-size: max(10vmin, 1.4rem);
  }
  
  .RadialProgress::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    z-index: -1;
    background: conic-gradient(
      hsl(var(--hue) 100% 70%),
      hsl(var(--hue) 100% 40%),
      hsl(var(--hue) 100% 70%) var(--progress, 0%),
      var(--track-bg) var(--progress, 0%) 100%
    );
    mask-image: radial-gradient(
      transparent var(--holesize),
      black calc(var(--holesize) + 0.5px)
    );
    --progress: calc(var(--progress-value) * 1%);
  }
  
  .glossy-blue {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 2.2rem;
    padding: 10px;
    border-radius: 10px;
    text-shadow: 0 0 10px rgba(59, 130, 246, 0.6);
    display: inline-flex;
  }
  
  .glossy-blue img {
    margin-right: 10px; /* Space between image and text */
  }
  
  .glossy-blue .count {
    color: #ffffff; /* White color for the buttonPressCount */
    margin-right: 10px; /* Space between count and Media Credits text */
  }
  
  .glossy-blue .nila-text {
    background: linear-gradient(145deg, #3b82f6, #8b5cf6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10px;
    text-align: left; /* Align text to the left */
    line-height: 1; /* Controls the spacing between lines */
    font-size: 1rem; /* Adjust font size if needed */
  }
  .nila-text {
    font-size: 1rem;
    width: 80px; /* Match width of buttonPressCount */
    text-align: center;
  }
  .round-button {
    width: 173px;
    height: 173px;
    background: linear-gradient(145deg, #3b82f6, #8b5cf6);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.6);
    transition: transform 0.1s;
    z-index: 3;
  }
  
  .round-button:active {
    transform: scale(0.90);
  }
  
  .round-button.pulse {
    animation: pulse 0.5s;
  }
  
  @keyframes pulse {
    70% {
      box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
  }
  
  .round-button img {
    width: 173px;
    height: 173px;
    border-radius: 50%;
  }
  
  .glossy-card {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid transparent;
    padding: 2px;
    text-align: center;
    border-radius: 16px;
    width: 100px;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
  }
  
  .small-text {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.00rem;
  }
  
  .small-point-text {
    font-weight: 600;
    font-size: 0.8rem;
    color: darkgray;
  }
  
  canvas {
    position: absolute;
    top: 120px;
    left: 0;
    display: block;
    border-radius: 40px 40px 0 0;
    box-shadow: 0 -6px 15px rgb(245 170 1 / 80%);
  }
  
  

  .collect-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .collect-button {
    background: linear-gradient(145deg, #3b82f6, #8b5cf6);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 12px 24px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 10px rgba(59, 130, 246, 0.6), 0 0 20px rgba(139, 92, 246, 0.8);
    transition: background 0.3s, transform 0.1s, box-shadow 0.3s;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
  }
  
  .collect-button:hover {
    background: linear-gradient(145deg, #2563eb, #7c3aed);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 15px rgba(59, 130, 246, 0.8), 0 0 25px rgba(139, 92, 246, 1);
  }
  
  .collect-button:active {
    transform: scale(0.95);
  }
  
  .collect-button:disabled {
    background: linear-gradient(145deg, #3b82f6, #8b5cf6);
    color: rgba(255, 255, 255, 0.6);
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.5;
  }
  
  .progress-container {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .progress-bar {
    height: 24px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(59, 130, 246, 0.6), inset 0 0 10px rgba(59, 130, 246, 0.8);
    border: 2px solid rgba(59, 130, 246, 0.6);
  }
  
  .progress-bar::before {
    content: '';
    display: block;
    height: 100%;
    width: calc(var(--progress-value) * 1%);
    background: linear-gradient(145deg, #3b82f6, #8b5cf6, #3b82f6);
    background-size: 200% 200%;
    animation: gradientAnimation 3s ease infinite;
    border-radius: 10px;
    transition: width 0.3s ease;
    box-shadow: 0 0 10px #3b82f6, 0 0 20px #8b5cf6, 0 0 30px #3b82f6, 0 0 40px #8b5cf6;
  }
  
  .progress-bar span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 1rem;
    color: #ffffff;
    text-shadow: 0 0 8px rgba(59, 130, 246, 1), 0 0 12px rgba(139, 92, 246, 1);
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .collect-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .resource-container, .boost-container {
    display: flex;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    color: white;
    text-shadow: 0 0 10px rgba(59, 130, 246, 1), 0 0 15px rgba(59, 130, 246, 0.7);
  }
  
  .resource-icon img, .boost-icon img {
    width: 40px;
    height: 40px;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
    margin-right: 10px;
  }
  
  .resource-value, .boost-text {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
    text-shadow: 0 0 8px rgba(59, 130, 246, 1), 0 0 12px rgba(139, 92, 246, 1);
  }
  .claim-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a; /* Dark background similar to the image */
    border-radius: 10px;
    padding: 10px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
  }
  
  .max-value {
    display: flex;
    align-items: center;
  }
  
  .max-value .value {
    font-size: 20px; /* Font size for the number */
    color: white; /* White color for the number */
    margin-right: 5px;
  }
  
  .max-value .max-text {
    font-size: 16px; /* Font size for "MAX" */
    color: #fbbf24; /* Gold color for "MAX" */
    font-weight: bold;
  }
  
  .claim-button {
    background-color: #fbbf24; /* Gold color for the button */
    color: black; /* Black text for the button */
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .claim-button:hover {
    background-color: #d97706; /* Darker gold on hover */
  }
  
  .claim-button:disabled {
    background-color: #63615f; /* Darker gold for disabled state */
    cursor: not-allowed;
  }
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
  
  .shake {
    animation: shake 0.5s;
  }


  @media (max-width: 575px) {
    section#collect {
      padding-top: 130px; /* Extra padding to ensure content isn't hidden */
 
    }
    .RadialProgress-container {
  
      margin-top: 10px;
    }
    .progress-container {
      margin-top:25px;
      margin-bottom: 25px;
      text-align: center;
    }
    .claim-container {

      padding: 5px 25px;

      margin: 10px;
    }
    .claim-button {
      padding: 5px 10px;

    }
  }