<div class="header">
  <img src="/image/alien.jpeg" alt="Profile Image" width="50" height="50">
  <h1>{{userInfo?.first_name}}{{userInfo?.last_name}}</h1>
</div>
<router-outlet></router-outlet>
<nav class="navbar">
  <button (click)="showSection('collect', $event.target)" class="nav-icon">
    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7h4a1 1 0 011 1v10a1 1 0 01-1 1H3a1 1 0 01-1-1V8a1 1 0 011-1z"></path>
    </svg>
    <span>Collect</span>
  </button>
  <button (click)="showSection('tasks', $event.target)" class="nav-icon">
    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7h12M8 11h12M8 15h12M4 7h.01M4 11h.01M4 15h.01"></path>
    </svg>
    <span>Tasks</span>
  </button>
  <button (click)="showSection('friends', $event.target)" class="nav-icon">
    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a4 4 0 00-3-3.87M12 20h.01M7 20h.01M17 16v-6a4 4 0 00-4-4H7a4 4 0 00-4 4v6m16 0a4 4 0 01-8 0m8 0H5"></path>
    </svg>
    <span>Frens</span>
  </button>
  <button (click)="showSection('pumps', $event.target)" class="nav-icon">
    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 17l-5-5m0 0l-5-5m5 5h12M5 12h12m-12 0l5-5m-5 5l5 5m7 0h.01M17 7h.01M7 7h.01"></path>
    </svg>
    <span>Pump</span>
  </button>
  <button (click)="showSection('airdrop', $event.target)" class="nav-icon">
    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7M5 10v10a1 1 0 001 1h3m10-1a1 1 0 001-1V10m-8-7v18"></path>
    </svg>
    <span>Airdrop</span>
  </button>
</nav>
