.header {
  padding: 10px 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: left;
}

.user-info {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nila-text {

  color: linear-gradient(145deg, #3b82f6, #8b5cf6);
  font-weight: bold; /* Optional: to make NILA stand out */
}
.user-details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-details img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px; /* Space between avatar and text */
}

.name-id-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name-id-container h1 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.name-id-container .user-id {
  font-size: 0.8rem;
  color: #fff;
}


.header img {
  border-radius: 50%;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.header h1 {
  font-size: 1 rem;
  font-weight: bold;
  margin: 0;
}

section {
  padding-top: 120px; /* Space for the fixed header */
  padding-bottom: 80px; /* Space for the fixed navbar */
  z-index: 1;
}
.navbar {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem; /* Reduce padding to create more space */
  background: linear-gradient(177deg, #353547, #22223d);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7), 0 0 30px rgba(59, 130, 246, 0.8);
  border-radius: 40px 40px 40px 40px;
}

.navbar button {
  background: none;
  border: none;
  color: #9ca3af;
  font-size: 0.75rem; /* Reduced font size */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: color 0.2s, transform 0.2s, box-shadow 0.3s;
  position: relative;
  width: 45px; /* Reduce button width */
  height: 45px; /* Reduce button height */
  border-radius: 10px;
  padding: 0; /* Remove extra padding */
}

.navbar button:hover {
  color: #fff;
  transform: translateY(-4px);
  box-shadow: 0 0 10px rgba(139, 92, 246, 0.8), 0 0 20px rgba(59, 130, 246, 0.8), 0 0 30px rgba(59, 130, 246, 1);
}

.navbar button.nav-icon-selected {
  color: #fdae00;
  box-shadow: 0 0 15px rgb(255 176 0), 0 0 25px rgb(255 176 0);
}

.navbar button svg {
  width: 20px; /* Smaller icon size */
  height: 20px;
  margin-bottom: 2px; /* Less margin between icon and text */
}

.navbar button:hover svg {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
}

.navbar button span {
  font-size: 0.75rem; /* Smaller text size */
  letter-spacing: 0.5px; /* Reduce letter spacing */
}

.navbar button:before {
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  border-radius: 15px;
  background: rgba(59, 130, 246, 0.2);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.navbar button:hover:before {
  opacity: 1;
  transform: scale(1.05);
}


.modal-content {
  position: fixed;
  bottom: 0; /* Position the modal at the bottom of the screen */
  left: 50%;
  transform: translateX(-50%); /* Center the modal horizontally */
  background-color: #2c2c2c;
  border-top-left-radius: 50px; /* Rounded top-left corner */
  border-top-right-radius: 50px; /* Rounded top-right corner */
  border-bottom-left-radius: 0; /* No rounding on bottom-left corner */
  border-bottom-right-radius: 0; /* No rounding on bottom-right corner */
  box-shadow: 0 -2px 40px rgb(241 168 4); /* Change shadow direction for bottom modal */
  width: 100%; /* Full width modal */
  max-width: 500px; /* Maximum width */
  animation: slideUp 0.4s ease-out;
}
@keyframes slideUp {
  0% {
    transform: translate(-50%, 100%); /* Start from below the screen */
    opacity: 0; /* Invisible */
  }
  100% {
    transform: translate(-50%, 0); /* End at the desired position */
    opacity: 1; /* Fully visible */
  }
}
::ng-deep .modal-dialog {
  position: fixed !important;  /* Ensure modal is fixed at the bottom */
  bottom: 0 !important;  /* Attach to the bottom of the screen */
  width: 100% !important;  /* Full width */
  max-width: 500px !important;  /* Maximum width */
  margin: 0 !important;  /* Remove default margin */
  pointer-events: auto !important;  /* Enable pointer events */
}

.modal-backdrop.show {
  opacity: 0.7;
  background-color: rgba(0, 0, 0, 0.7); /* Dark semi-transparent backdrop */
}

.modal-header, .modal-body, .modal-footer {
  background-color: #2c2c2c;
  color: #ffffff; /* Ensure text is white */
  border-top-left-radius: 50px; /* Rounded top-left corner */
  border-top-right-radius: 50px; /* Rounded top-right corner */
  border-bottom-left-radius: 0; /* No rounding on bottom-left corner */
  border-bottom-right-radius: 0; /* No rounding on bottom-right corner */
}

.pagination-wrapper {
  text-align: center;
  position: relative;
  padding: 20px 40px; /* Add padding to make space for arrows */
}

.img-fluid.rounded-circle {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #fff; /* Optional: Add a border around the circle */
}

.arrow-left, .arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.arrow-left[disabled], .arrow-right[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.close-btn {
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.coin-indicator {
  margin-left: auto;
  padding: 5px 10px;
}

.futuristic-badge {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif; /* Futuristic font */
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  background: linear-gradient(135deg, #1f1c2c, #928dab); /* Default gradient */
  color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.futuristic-badge:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}

.bronze {
  background: linear-gradient(135deg, #654321, #d7b89e);
}

.silver {
  background: linear-gradient(135deg, #bdc3c7, #2c3e50);
}

.gold {
  background: linear-gradient(135deg, #fbd786, #f7797d);
}

.platina {
  background: linear-gradient(135deg, #e3e3e3, #8e9eab);
}

.diamond {
  background: linear-gradient(135deg, #83a4d4, #b6fbff);
}

.master {
  background: linear-gradient(135deg, #d53369, #daae51);
}

.futuristic-badge:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  background: inherit;
  filter: blur(15px);
  opacity: 0.7;
  z-index: -1;
}

.futuristic-badge:hover:before {
  filter: blur(20px);
  opacity: 1;
}
@keyframes slideUp {
  0% {
    transform: translate(-50%, 100%); /* Start from below the screen */
    opacity: 0; /* Invisible */
  }
  100% {
    transform: translate(-50%, 0); /* End at the desired position */
    opacity: 1; /* Fully visible */
  }
}
.non-mobile-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
  background-color: #f5f5f5; /* Light background color */
  color: #333; /* Darker text color */
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.non-mobile-message h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ff5252; /* Bright red color for the heading */
}

.non-mobile-message img {
  max-width: 300px; /* Limit the image size */
  width: 100%; /* Ensure image is responsive */
  height: auto;
  border-radius: 15px; /* Optional rounded corners for the image */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  margin-bottom: 20px; /* Space between image and text */
}

.non-mobile-message p {
  font-size: 18px;
  color: #666;
}
