section#airdrop {
    max-height: calc(100vh - 80px);
    overflow-y: auto;
    padding-top: 110px; /* Extra padding to ensure content isn't hidden */
    padding-bottom: 20px;
  }
  .task-card-container {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    display: block;
    background-color: #1a1a1a; /* Dark background color */
    border-radius: 40px 40px 0 0;
    box-shadow: 0 -6px 15px rgb(245 170 1 / 80%);
    padding: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 90px);
    bottom: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  .button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
  }
  /* Extra small devices (phones, 0px to 575px) */
@media (max-width: 575px) {
  .task-card-container {
    max-height: calc(100vh - 151px); /* Adjust as per small devices */
  }
}

/* Small devices (tablets, 576px to 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .task-card-container {
    max-height: calc(100vh - 80px); /* Adjust as per small tablets */
  }
}

/* Medium devices (small laptops, 768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .task-card-container {
    max-height: calc(100vh - 90px); /* Adjust as per medium devices */
  }
}

/* Large devices (desktops, 992px and above) */
@media (min-width: 992px) {
  .task-card-container {
    max-height: calc(100vh - 100px); /* Adjust as per large devices */
  }
}
