<section id="airdrop">
  <div class="task-card-container">
    <div class="container mx-auto px-4">
      <!-- <div class="text-center my-6">
        <button class="bg-blue-500 text-white py-2 px-4 rounded-full" [@buttonAnimation]="'enter'" (click)="connectToWallet()">Connect your wallet</button>
      </div> -->
      <div class="bg-gray-800 rounded-lg shadow p-4 mb-6" [@cardAnimation]="'enter'" >
        <div class="text-center mb-4">
          <div class="text-2xl font-bold">Total Assets</div>
          <!-- <div class="text-4xl mt-2">0.132614 USDT</div> -->
          <div class="text-gray-400"> {{walletBalance}} Media Credits</div>
        </div>
        <div class="button-container">
          <button class="bg-gray-700 text-white py-2 px-4 rounded" [@buttonAnimation]="'enter'"(click)="connectToWallet()">Convert</button>
          <button class="bg-gray-700 text-white py-2 px-4 rounded" [@buttonAnimation]="'enter'"(click)="getBoostLog()">History</button>
          <!-- <button class="bg-gray-700 text-white py-2 px-4 rounded">Convert</button> -->
        </div>
      </div>
      <!-- <div class="bg-gray-800 rounded-lg shadow p-4">
        <div class="text-xl font-bold mb-4">Similar Assets</div>
        <div class="flex justify-between py-2 border-b border-gray-600">
          <span>Nilacoin</span>
          <span>$0.012165</span>
        </div>
        <div class="flex justify-between py-2 border-b border-gray-600">
          <span>Toncoin</span>
          <span>$0.00</span>
        </div>
        <div class="flex justify-between py-2 border-b border-gray-600">
          <span>Bitcoin</span>
          <span>$63,262.00</span>
        </div>
        <div class="flex justify-between py-2 border-b border-gray-600">
          <span>Maxicoin</span>
          <span>$0.000435</span>
        </div>
        <div class="flex justify-between py-2">
          <span>Solana</span>
          <span>$154.61</span>
        </div>
      </div> -->
    </div>
  </div>
  </section>
  